[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=failsafewm
TryExec=failsafewm
Name=FailsafeWM
Comment=A Window manager for REAL minimalists
Comment[pl]=Zarządca okien dla prawdziwych minimalistów
# vi: encoding=utf-8
