[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=failsafewm
TryExec=failsafewm
Name=FAILSAFEWM
Comment=A Window manager for REAL minimalists
Comment[pl]=Zarz±dca okien dla prawdziwych minimalistów
